 /*------------inicio section 3------------*/
 #contenido-3{
    background: #1D1F2D;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon-social{
    margin: 20px;
}


.icon-title{
    margin-left: 15%;
}

.section-2 a{
    margin-left: 50px;
}